[submodule "vim/plugin/cscope_maps.vim"]
	path = vim/plugin/cscope_maps.vim
	url = https://github.com/simplyzhao/cscope_maps.vim.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
